

$primaryColor: #0A6EBD;


html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.btn {
    background-color: $primaryColor;
    color: white;
    font-size: 16px;
    border: 2px solid $primaryColor;
    z-index: 2;
    padding: 12px 36px;
    transition: all ease-in-out 0.3s;
    border-radius: 6px;
    letter-spacing: 0.1rem;
    font-weight: 600;

    &:hover {
        background-color: #0867b1;
        color: white;
        border: 2px solid #0867b1;
        box-shadow: 0px 0px 18px 4px rgba($color: #023e6d, $alpha: 0.2);

    }
    &:active{
        background-color: #065c9e !important;
        color: white !important;
        border: 2px solid #065c9e !important;
    }
}



.headingContent {
    display: inline-block;
    margin-bottom: 40px;

    .mainHeading {
        font-size: 40px;
        font-weight: bolder;
        letter-spacing: 0.1rem;
        color: $primaryColor;
    }

    .subHeading {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.1rem;
        position: relative;
        text-align: center;


        &::after {
            position: absolute;
            content: '';
            width: 15%;
            height: 3px;
            right: 0;
            top: 8px;
            background-color: $primaryColor;
        }

        &::before {
            position: absolute;
            content: '';
            width: 15%;
            height: 3px;
            top: 8px;
            left: 0;
            background-color: $primaryColor;
        }
    }
}


.removeEdu {
    display: none;
}

.addEdu {
    display: block;
}

.addCer {
    display: block;
}

.removeCer {
    display: none;
}

.eduBtnActive,
.cerBtnActive {
    box-shadow: 0px 0px 18px 4px rgba($color: #023e6d, $alpha: 0.3);
    background-color: rgb(247, 247, 247) !important;
    color: $primaryColor !important;
}

.active {
    background-color: red;
}







/* scrollbar.css */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #d4d4d4;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: $primaryColor;
  }






@media (max-width: 1120px) {
    .activeNav {
        background-color: $primaryColor;
        color: white;
        height: 500px;
        animation: navAni 0.5s linear;
    }

    @keyframes navAni {
        0%{
            height: 0px;
        }
        25%{
            height: 125px;
        }
        50%{
            height: 250px;
        }
        75%{
            height: 375px;
        }
        100%{
            height: 500px;
        }
    }

    


    .navList {
        display: flex !important;
        
        animation: opAni 0.5s linear;
    }

    @keyframes opAni {
        0%{
            opacity: 0;
        }
        90%{
            opacity: 0.7;
        }
        100%{
            opacity: 1;
        }
    }

    .navMark {
        display: none !important;
    }

    .closeMark {
        display: block !important;
        font-size: 20px !important;
    }

    .headingContent {
        margin-bottom: 30px;

        .mainHeading {
            font-size: 32px;
        }

        .subHeading {
            margin-top: 0;
            font-size: 14px;
        }

    }
}

@media (max-width: 900px) {
    .btn {
        font-size: 14px;
        padding: 10px 28px;
        font-weight: 600;

    }
}