.fotterSection{
    background-color: rgb(26, 26, 26);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    p{
        margin: 0;
    }
    @media (max-width: 740px){
        p{
            font-size: 14px;
        }
    }
    @media (max-width: 600px){
        p{
            font-size: 12px;
        }
    }
    @media (max-width: 480px){
        p{
            font-size: 10px;
        }
    }
}